doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js")
    script(src="http://code.highcharts.com/highcharts.js")
    script(src="/js/charts.js")
    script(src="/js/handler.js")
    script(src="/js/email.js")
  body
    block content