//
   Created by Gallo on 12/14/2014.

extends layout
block content
   //Main Title dic
   div(class = "div1")
   div(class = "div2")
      div(class = "ratingsdiv") TOP WISHED ITEMS
         p#topItem1 :
            a#topLink1(href="http://www.google.com") www.google.com
         p#topItem2 :
            a#topLink2(href="http://www.google.com") www.google.com
         p#topItem3 :
            a#topLink3(href="http://www.google.com") www.google.com
         p#topItem4 :
            a#topLink4(href="http://www.google.com") www.google.com
         p#topItem5 :
            a#topLink5(href="http://www.google.com") www.google.com
      table#tableprint(class = "list" border=1 )
         tr
            th Item
            th Link to Gift
            th Price
         tr
            td
               input#item1Name
            td
               input#item1Link
            td
               p $
                  input#item1Price
         tr
            td
               input#item2Name
            td
               input#item2Link
            td
               p $
                  input#item2Price
         tr
            td
               input#item3Name
            td
               input#item3Link
            td
               p $
                  input#item3Price
         tr
            td
               input#item4Name
            td
               input#item4Link
            td
               p $
                  input#item4Price
         tr
            td
               input#item5Name
            td
               input#item5Link
            td
               p $
                  input#item5Price
   div(class="div3")
      div(id="container" style="width:100%; height:312.5px;")
   div(class="div4")
      form#sub(action='/wishlist', method='post')
         input(id='print' class="bigbuttons" type='submit',value='Print',data-transition='fade')
         input(id='email' class="bigbuttons" type='submit',value='Email to Santa',data-transition='fade')
      div(id="emailDiv")(class="hiddenDiv")
         form#subEmail(action='/wishlist', method='post')
            p(id='emailText') Dear Santa, I have been awfully good this year! I cant wait for you to come sliding down my chimney on Christmas Eve! There are a few things I've been wishing for this year which are I will leave you milk and cookies which I hope you enjoy! Thanks again Santa for making all our dreams come true! Merry Christmas!
            input(id='parentEmail', type='text',value='',placeholder='Email')
            input(id='submitButton', type='submit', value='Send!')


