//
   Created by Gallo on 12/14/2014.

extends layout
block content
   //Main Title dic
   div(class = "div1")
   div(class = "div2")
      div(class = "ratingsdiv") TOP WISHED ITEMS
         p 1:
            a#top1(href="http://www.google.com") www.google.com
         p 2:
            a#top2(href="http://www.google.com") www.google.com
         p 3:
            a#top3(href="http://www.google.com") www.google.com
         p 4:
            a#top4(href="http://www.google.com") www.google.com
         p 5:
            a#top5(href="http://www.google.com") www.google.com
   div(class="div3")
      div(id="container" style="width:100%; height:500px;")
   div(class="div4")
      button(class="bigbuttons")(type="button") Print
      button(class="bigbuttons")(type="button") Email to Santa

